nav {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
}

.logo {
  height: 5.25rem;
}

.login {
  display: flex;
  &__input {
    padding: 0.5rem 2rem;
    width: 12rem;
    margin-right: 1rem;

    font-size: 1.6rem;
    font-family: inherit;
    text-align: center;
    color: inherit;

    border: 1px solid #fff;
    border-radius: 10rem;
    transition: all 0.3s;
    &:focus {
      outline: none;
      border: 1px solid #ccc;
    }
    &::placeholder {
      color: #bbb;
    }
  }
  &__btn {
    font-size: 2.2rem;
    color: inherit;

    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.3s;
    &:hover,
    &:active {
      outline: none;
      color: #777;
    }
  }
}

.btn--sort {
  &:hover,
  &:active {
    outline: none;
    color: #777;
  }
}
